extends layout

block content
    div.form
        a(href="Fifteen-Puzzle.html")
            button 熊猫拼图

    div.form
        a(href="maze.html")
            button 简单迷宫
            
    div.form
        a(href="Whac-a-mole.html")
            button 打地鼠

    script(type="text/javascript" src="/javascripts/signin.js")
