extends layout

block content
    div.form
        a(href="pieIndex.html")
            button “派”小屋

    div.form
        a(href="skeleton.html")
            button 电影海报

    script(type="text/javascript" src="/javascripts/signin.js")
